<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ABOUT US</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="~/Assert/aboutStyle.css" rel="stylesheet" />
    <style>
        .menu-category {
            display: none !important;
        }
    </style>
</head>
<body class="login-backimg">
    <div class="page-wraper">
        <div class="row">
            <div class="container-fluid">
                <h2 align="center" class="about_header">We run all kinds of IT</h2> <h2 align="center" class="about_header2"> services that vow your success.</h2>
                <div class="col-lg-6">
                    <img class="about_img" src="https://cdn2.iconfinder.com/data/icons/business-2-39/128/145-512.png" />
                </div>
                <div class="col-lg-6">
                    <div class="about_content">
                        Siva Solutions is a Associate with men of good quality if you esteem your own reputation; for it is better to be alone than in bad company. Education begins the gentleman, but reading, good company and reflection must finish him.
                        <br /><br />
                        The feelings of my smallness and my nothingness always kept me good company...
                        Education begins the gentleman, but reading, good company and reflection must finish him.
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>