<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assert/showDetailStyle.css" rel="stylesheet" />
    <title>Employee Detail</title>
    <script>
        $(document).ready(function () {
            table = $('#proTable').DataTable({
                "columnDefs": [
                    {
                        "targets": [0],
                        className: "hideCol"
                    }
                ]
            });
            var empId = GetURLParameter();
            LoadEmployeeDetails(empId);
            LoadEmployeeProjectDetails(empId);
            function GetURLParameter()
            {
                var sPageURL = window.location.href;
                var indexOfLastSlash = sPageURL.lastIndexOf("=");

                return sPageURL.substring(indexOfLastSlash + 1, sPageURL.length)
            }
            function LoadEmployeeDetails(empId) {
                var strurl = "getProjectDetails?empId=" + empId

                $.ajax({
                    type: "get",
                    url: strurl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (msg) {
                        $.each(msg, function (index, obj) {
                            $.each(obj, function (key, value) {
                                $('#proTable').dataTable().fnAddData([
                                    value.ProId,
                                    value.TaskName,
                                    value.strBeginDate,
                                    value.Priority,
                                    value.Status,
                                    value.Resolution,
                                    value.DescCmt,
                                ]);
                            });
                        });

                    },
                    error: function (msg) {
                        toastr.error(msg);
                    }
                });
                
            }
            function LoadEmployeeProjectDetails(){
                var strurl_EmployeeDetail = "/Employee/GetEmployeeData?nEmpId=" + empId
                $.ajax({
                    type: "get",
                    url: strurl_EmployeeDetail,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data) {
                        $.each(data, function (index, val) {
                            $("#showAllDetail img").attr("src", val.FilePath);
                            $("#name").html(val.Name);
                            $("#dob").html(val.StrDOB);
                            $("#gender").html(val.Gender);
                            $("#email").html(val.Email);
                            $("#techid").html(val.TechId);
                            $("#branch").html(val.CompanyBranchCode);
                            $("#marital").html(val.MaritalStatus);
                            $("#address").html(val.Address);
                            
                        });
                    },
                    error: function (msg) {
                        toastr.error(msg);
                    }
                });
            }
        });
    </script>
</head>
<body>
    <div>
        <h3>General Details</h3>
        <hr />
        <div id="showAllDetail" class="row">
            <div class="col-md-6">
                <img id="usrImg" src="https://image.flaticon.com/icons/png/512/126/126327.png" alt="Employee photo"  />
                <h3 id="name" align="center"></h3>
            </div>
            <div class="col-md-6">
                <span>Date Of Birth  :  </span>
                <label id="dob"></label>
                <br />
                <span>Gender  :  </span>
                <label id="gender"></label>
                <br />
                <span>Email  :  </span>
                <label id="email"></label>
                <br />
                <span>Technology  :  </span>
                <label id="techid"></label>
                <br />
                <span>Branch  :  </span>
                <label id="branch"></label>
                <br />
                <span>Marital Status  :  </span>
                <label id="marital"></label>
                <br />
                <span>Address  :  </span>
                <label id="address"></label>
            </div>
        </div>
    </div>
    <div>
        <h3>Projects Details</h3>
        <hr />
        <div class="table-responsive">
            <table class="table table-hover content_table" id="proTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Project Name</th>
                        <th>Begin Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Resolution</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="tbprojectContent"></tbody>
            </table>
        </div>
    </div>
</body>
</html>
